@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    body {
        font-family: "ProximaNova", sans-serif;
    }

    html {
        @apply scroll-smooth;
    }

    .font-bold {
        font-family: "ProximaNova-Bold", sans-serif;
    }

    .font-medium {
        font-family: "ProximaNova-Medium", sans-serif;
    }

    .font-semibold {
        font-family: "ProximaNova-SemiBold", sans-serif;
    }

    .font-light {
        font-family: "ProximaNova-Light", sans-serif;
    }

    .font-extrabold {
        font-family: "ProximaNova-ExtraBold", sans-serif;
    }

    .container {
        @apply max-w-[1312px];
    }

    .btn-primary {
        @apply bg-primary text-white font-bold text-sm px-4 py-[10px] rounded-lg hover:bg-hoverPrimary justify-center;
    }

    .btn-primary-semibold {
        @apply bg-primary text-white font-semibold text-sm px-4 py-[10px] rounded-lg hover:bg-hoverPrimary justify-center;
    }

    .testimonials .owl-carousel .owl-item img {
        width: auto;
    }

    .banner-gradient {
        background: rgb(222, 223, 231);
        background: linear-gradient(183deg, rgba(222, 223, 231, 0.5) 35%, rgba(255, 255, 255, 0) 100%);
    }

    @media screen and (max-width:1199px) {
        .container {
            @apply px-5;
        }
    }


    .swiper-container {
        width: 100%;
        height: 500px; /* Set the height of the container */
      }

      .swiper-slide {
        display: flex;
        opacity: 0.4;
        
      }
      .swiper-slide.swiper-slide-active{
        opacity: 1;
      }




}